header {
  display: flex;
  padding: calc(2 * var(--step));
  gap: calc(2 * var(--step));

  position: sticky;
  top: 0;
  background: inherit;
}

header > input {
  border: 0;
  border-bottom: 2px solid var(--gray-light-30);
  padding: var(--step);
  flex: 1 1 auto;
  font: inherit;
  background: inherit;
}

header > input#searchbox {
  flex-grow: 2;
}

header > input:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--color-text);
}

main {
  padding: calc(2 * var(--step));
  display: flex;
  flex-direction: column;
}

.tab {
  appearance: none;
  text-align: unset;
  align-items: center;

  background: inherit;
  font: inherit;
  border: inherit;

  width: auto;

  display: flex;
  padding: calc(1 * var(--step));
  gap: calc(2 * var(--step));

  overflow: hidden;
  user-select: initial;
}

.tab > * {
  pointer-events: none;
}

.tab:focus-visible {
  outline: none;
  background-color: var(--gray-light-30);
}

.tab > .favicon {
  width: calc(2 * var(--step));
  height: calc(2 * var(--step));
}

.tab > .indicator {
  flex-shrink: 0;
  border-radius: 50%;
  width: calc(1 * var(--step));
  height: calc(1 * var(--step));
}

.tab > .indicator.active {
  background-color: var(--green-60);
}

.tab > .indicator.discarded {
  background-color: var(--gray-light-50);
}

.tab > .label {
  font-family: monospace;
  color: var(--gray-dark-10);
  flex-shrink: 0;
}

.tab > .url {
  color: var(--gray-dark-10);
}

.tab > .title,
.tab > .url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab b {
  font-weight: normal;
  text-shadow: 0px 0px 1px currentColor;
  text-decoration: underline;
}
