/* */

header {
  position: sticky;
  top: 0;

  display: flex;
  gap: calc(2 * var(--step));
  padding: calc(2 * var(--step));

  background: inherit;
}

header > input {
  flex: 1 1 auto;

  border: 0;
  border-bottom: 2px solid currentColor;

  padding: var(--step);

  background: inherit;
  color: inherit;
  font: inherit;
}

header > input:focus-visible {
  border-bottom: 2px solid var(--color-text);
  outline: none;
}

header > #searchbox {
  flex-grow: 2;
}

/* */

main {
  display: flex;
  flex-direction: column;

  padding: calc(2 * var(--step));
}

/* */

.tab {
  display: flex;
  gap: calc(2 * var(--step));
  padding: calc(1 * var(--step));

  width: auto;

  align-items: center;
  appearance: none;
  background: inherit;
  border: inherit;
  color: inherit;
  font: inherit;
  overflow: hidden;
  text-align: unset;
  user-select: initial;
}

.tab:focus-visible {
  background-color: var(--color-bg-selection);
  outline: none;
}

/* */

.tab b {
  font-weight: normal;
  text-decoration: underline;
  text-shadow: 0px 0px 1px currentColor;
}

/* */

.tab > * {
  pointer-events: none;
}

.tab > .favicon {
  width: calc(2 * var(--step));
  height: calc(2 * var(--step));
}

.tab > .label {
  flex-shrink: 0;

  color: var(--color-text-alt);
  font-family: monospace;
}

.tab > .title,
.tab > .url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab > .url {
  color: var(--color-text-alt);
}

/* */

.tab > .indicator {
  flex-shrink: 0;

  width: calc(1 * var(--step));
  height: calc(1 * var(--step));

  border-radius: 50%;
}

.tab > .indicator.active {
  background-color: var(--color-indicator-active);
}

.tab > .indicator.discarded {
  background-color: var(--color-indicator-inactive);
}
